# =============================================================================
# .gitattributes for the SPARC package
# =============================================================================

*.ipynb linguist-detectable=false