scikit-image==0.26.0
scikit-learn==1.9.0
numpy==2.4.0
scipy==1.17.0
nibabel==5.4.2
pydicom==3.0.2
torch==2.13.0
pytorch-ignite==0.5.5
tqdm==4.69.1
monai==1.6.0
SimpleITK==2.5.0
einops==0.8.2
pyyaml==6.0.3
tensorboard==2.21.0
tensorboardx==2.6.5
pandas==3.0.5
imageio==2.37.4
jupyter==1.1.1
matplotlib==3.11.0
seaborn==0.13.2
statsmodels==0.14.6
huggingface_hub[cli]==1.28.0
